/* section{
    display: flex;
}
.tk{
    display: flex;
    justify-content: space-between;
}
#menu{
    height: 700px;
    width: 400px;
    background-color:#3f0e40;
}
#detail{
    height: 700px;
    width: 100%;
    background-color: #ffffff;
}

header{
    background-color: grey;
    display: flex;
    justify-content: space-between;

}
.time{
    display: flex;
}
.rena{
    
} */
body{
    margin: 0%;
    padding: 0%;
}
#content{
    width: 466em;
    background-color: palegoldenrod;

}
#detail{
    height: 700px;
    width: 20%;
    background-color:purple;
    color: whitesmoke;

}
main{
    display: flex;
    
}
.t-k{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 2em;
   
.threads{
    justify-content: flex-start;
    display: flex;
    font-size: 1em;
}
.channel{
    display: flex;
    justify-content: space-between;
   
}

